
.main-grid-row-body {
    position: static !important;
    width: 100% !important;
    height: 100% !important;
}

.main-grid-col-left {
    top: 0 !important;
    position: fixed !important;
    background-color: gray !important;
    width: 290px !important;
    height: 100% !important;
}

h2#main-title-dashboard {
    width: 276px !important;
    height: 60px !important;
    padding-top: 10px !important;
    padding-left: 30px !important;
    color: yellow !important;
    background-color: #525252 !important;
}

.main-list-menu {
    padding: 15px !important;
}

.main-list-item {
    cursor: pointer !important;
}

.main-list-item:hover {
    cursor: pointer !important;
    background-color: #525252 !important;
    color: wheat !important;
}

hr#main-hr {
    border-color: #c9c9c9 !important;
    border-style: double !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.main-display-none {
    position: relative !important;
    display: none !important;
}

.main-link-dashboard:hover {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
    color: wheat !important;
}

.main-link-dashboard>label:hover {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer !important;
    color: wheat !important;
}

.main-link-dashboard {
    cursor: pointer !important;
    color: black !important;
}

.main-grid-col-right {
    left: 300px !important;
    position: relative !important;
    width: 100% !important;
}

.main-grid-row-table {
    top: 50px !important;
    margin-top: 120px !important;
    margin-left: 180px !important;
    width: 700px !important;
}

.main-label-menu {
    padding: 15px !important;
    margin: 5px !important;
    background-color: transparent !important;
    width: 100% !important;
    height: 100% !important;
}

.main-checkbox-table>label {
    color: red !important;
}